h1{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: sans-serif;
}
h2{
    color: red;
    font-family: impact;
}
h5{
    color: rebeccapurple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}