<!-- we can add this footer to all the pages we desire using include -->
 <!-- t6his reduces repetation and changes can be mde directly from one place -->
<div style="background-color: beige; border-radius: 10px; padding-left: 10px;">
    <p>
        copyrights© 2025 <br>
        privacy policy <br>
        contact us: abc@xyz.com
    </p>
</div>
