<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is a Home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat
      ullam sit eaque dignissimos, minus iusto nam quisquam veniam expedita
      error commodi optio. Alias quia dolorem cumque maiores inventore adipisci,
      in officiis quas!
    </p>
    <button>Click Me</button>
  </body>
</html>
