<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
</head>
<body>
    <h1>Username does not exist!</h1>
    <!-- to include footer file code from includes -->
    <%- include("includes/footer") %>
</body>
</html>