<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dice</title>
  </head>
  <body>
    <h1>Dice gave value : <%= diceVal %> </h1> <!-- num is argument passsed as key in res.render-->
    <button>Click Me</button>
        <!-- to include footer file code from includes -->
    <%- include("includes/footer") %>
  </body>
</html>
