
* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    transition: font-size 40ms linear 0s;
    transition: box-shadow 200ms linear 0s;
}

.main {
    height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    left: -350px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
    /* transition: all .3s ease 0s; */
    transition: all 250ms ease-in-out 0s;
}

#check {
    display: none;
}

#check:checked ~ .sidebar {
    position: fixed;
    left: 0px;
}

#check:checked ~ .btn_one {
    opacity: 0;
}

.btn_one {
    position: fixed;
    left: 15px;
    display: inline;
    color: white;
    font-size: 35px;
    line-height: 70px;
    transition: opacity 200ms linear 0s;
}

.btn_one:hover {
    font-size: 38px;
}

.sidebar .logo {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 30px;
    align-content: center;
    text-align: center;
    /* box-shadow: 0px 0px 8px white; */
}

.sidebar .logo a{
    color: rgb(197, 255, 197);
    font-weight: 900;
    font-size: 25px;
}

.sidebar .btn_two {
    color: white;
    opacity: 0.7;
    font-size: 20px;
    position: absolute;
    right: 5px;
}

.btn_two:hover {
    font-size: 22px;
    opacity: 1;
}

.sidebar .menu {
    position: absolute;
    top: 100px;
    width: 100%;
}

.sidebar .menu ul li {
    padding: 15px;
    width: 90%;
}

.sidebar .menu ul li:hover {
    box-shadow: 0px 0px 4px white;
}

.menu ul li i,a {
    color: white;
}

.menu ul li a {
    padding-left: 4px;
}

.socials {
    position: absolute;
    bottom: 30px;
    left: 25%;
}

.socials div a {
    padding: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    transition: opacity 200ms linear 0s;
}

.socials div a:hover {
    opacity: 1;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    transition: font-size 40ms linear 0s;
    transition: box-shadow 200ms linear 0s;
}

.main {
    height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    left: -350px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
    /* transition: all .3s ease 0s; */
    transition: all 250ms ease-in-out 0s;
}

#check {
    display: none;
}

#check:checked ~ .sidebar {
    position: fixed;
    left: 0px;
}

#check:checked ~ .btn_one {
    opacity: 0;
}

.btn_one {
    position: fixed;
    left: 15px;
    display: inline;
    color: white;
    font-size: 35px;
    line-height: 70px;
    transition: opacity 200ms linear 0s;
}

.btn_one:hover {
    font-size: 38px;
}

.sidebar .logo {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 30px;
    align-content: center;
    text-align: center;
    /* box-shadow: 0px 0px 8px white; */
}

.sidebar .logo a{
    color: rgb(197, 255, 197);
    font-weight: 900;
    font-size: 25px;
}

.sidebar .btn_two {
    color: white;
    opacity: 0.7;
    font-size: 20px;
    position: absolute;
    right: 5px;
}

.btn_two:hover {
    font-size: 22px;
    opacity: 1;
}

.sidebar .menu {
    position: absolute;
    top: 100px;
    width: 100%;
}

.sidebar .menu ul li {
    padding: 15px;
    width: 90%;
}

.sidebar .menu ul li:hover {
    box-shadow: 0px 0px 4px white;
}

.menu ul li i,a {
    color: white;
}

.menu ul li a {
    padding-left: 4px;
}

.socials {
    position: absolute;
    bottom: 30px;
    left: 25%;
}

.socials div a {
    padding: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    transition: opacity 200ms linear 0s;
}

.socials div a:hover {
    opacity: 1;
}