.theme {
    height: 700px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
    text-align: center;
}

.theme div {
    background-color: pink;
}

#header {
    grid-column:  1/ span 12;
}

#sidebar {
    grid-column: 1/ 4;
    grid-row: 2 / 12;
}

#navigation {
    grid-column: 4/ 10;
}

#ads {
    grid-column: 10/ 13;
    grid-row: 2/ 12;
}

#main {
    grid-column: 4/ 10;
    grid-row: 3/ 12;
}

#footer {
    grid-column: 1/ 13;
}

@media (max-width: 720px) {
    #header {
        grid-column:  1/ span 12;
    }
    
    #sidebar {
        grid-column: 1/ 4;
        grid-row: 3 / 12;
    }
    
    #navigation {
        grid-column: 1/ 13;
    }
    
    #ads {
        grid-column: 1/ 4;
        grid-row: 12/ span 1;
    }
    
    #main {
        grid-column: 4/ 13;
        grid-row: 3/ 12;
    }
    
    #footer {
        grid-column: 4/ 13;
    }
}
