body {
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
    color: green;
    background-color: beige;
    border-radius: 5px;
}

img {
    width:300px;
    height: 400px;
}