.flex {
    display: flex;
    height: 300px;
    width: 1000px;
    background-color: powderblue;
    border: solid 2px black;
    position: absolute;
    top: 100px;
    left: 250px;
    flex-direction: column;
    align-items: flex-start;
}

/* USED TO GIVE ALIGN PROPERTY TO A SPECIFIC ITEM INDIVIDUALY
align-self has higher pripority than the align-items property */

.self {
    align-self: flex-end;
}

.flex div {
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

/* Aligns an item along the cross axis
    • align-self : flex-start;
    • align-self : flex-end;
    • align-self : center;
    • align-self : baseline; 
*/